@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@500&display=swap');

body {
  font-family: 'Mochiy Pop P One', sans-serif;
  /* font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif; */
  margin:0;
  padding: 0;
  }
.pop{
  font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif;

}
.topnav a.logo:hover{
  background-color: #550b0b50;
  color: white;
}
/*NAV*/
.margem{
  padding-top: 118px; /*150px*/
  position: relative;
}
.relative{
  position: relative;
}

  .topnav {
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    z-index: 99;  
    width: 100%;
    padding: 35px;
    background: url(../BANNER/navbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-color: #000;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active{
    background-color: #550b0b50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


  /*responsividade*/
  @media screen and (max-width: 780px) {


    .video .Info_texto{
        margin-top: 300px;
        padding: 20px;
        width: 40vh;
        background-color: black;
      }
      
  }

 
  @media screen and (max-width:988px ) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      display: block;
      margin-left: 70px;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      margin-left: 250px;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .Info_val{
   
      width: 90%;
      height: auto;
      margin: 10vh auto 10vh auto;
      border-radius: 1%;
    }
    .logo1{
      width:200px;
       height: 266px;;
       display: block;
       margin: auto;
    }

  }

  @media screen and (max-device-width: 988px) and (orientation: landscape) {
    .topnav{
      padding: 10px;
    }
    .margem{
      padding-top: 70px;
    }
    
  }
  


  
.dropdown {
  z-index: 100;
  float: left;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 0, 0, 0.418);
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
/*Homepage*/
#myVideo {
  position: relative;
  top: 8px;
  right: 0;
  bottom: 0;
  width: 100%; 
  min-height: 100%;
}
#myImg{
  position: relative;
  top: 8px;
  right: 0;
  bottom: 0;
  max-width: 100%; 
  min-height: 100%;
}

.container .video{
  position: relative;
    color: #f1f1f1;
    width: 100%;
}
/*Texto*/
.video .Info_texto{
  border-radius: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(32, 25, 25, 0.212);


}

.texto_home{
  color: #fff;
  text-align: center;
}

 .logo_logo{
      display: block;
    position: relative;
    left: 10%;
    width: 85%;
    max-width: 32rem;
    filter: drop-shadow(0 0 .75em rgba(0,0,0,.3));
}  

.logo_logo path{
   color: #ddd;
}


/*button*/

.btn-grad {background-image: linear-gradient(to right, #000000 0%, #e74c3c  51%, #000000  100%)}
.btn-grad {
  font-family: 'Kanit', sans-serif;
   text-decoration: none;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


/*galeria agents*/
.card_img{
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 25px;
}

.middle {
  transition: .5s ease;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card_img:hover .middle {
  display: block;
}
.text {
  background-color: #29292985;
  color: white;
  font-family: cursive;
  font-size: 16px;
  padding: 16px 32px;
}

.small_img{
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
}
.small_img:hover{
  
  filter: grayscale(100%);
  transform: scale(1.1);
}

.row{
  padding-top: 118px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#modal_img{
  width: 65vw;
  transform: scale(0);
  transition: all linear .3s;
}

.modal_active #modal_img{
  transform: scale(1);
}
.modal{
  
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#bt_close{
  color:#fff;
  background-color: #000;
  position: absolute;

  inset: 150px 30px auto auto;

  padding: 5px 10px;
  font-size: 25px;
  border:solid 1px #fff;
  transition: all ease-out .4s;
  cursor: pointer;

  z-index: 10000;
}
#bt_close:hover{
  background-color: #f00;
}

.modal_active{
  visibility: visible;
  opacity: 1;

}
/* dropdown na pagina */
.dropbtn1 {
  background-color: #7a0300;
  color: white;
  margin: 2vh 0 0 2vh;
  padding: 12px 35.8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  

}
.fa{
  padding-left: 20px;
  padding-right: 20px;
  
}
.dropdown1 {
  top: 12vh;
  position: relative;
  display: inline-block;
  
}

.dropdown1-content {
  margin-left: 2vh;
  display: none;
  position: absolute;
  background-color: #bdb3b3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content a {
  color: black;
  padding: 12px 28.67px;
  text-decoration: none;
  display: block;
}

.dropdown1-content a:hover {background-color: #ca717194}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: #7a0300c7;
}
/*galeria armas*/
.card_img_armas{
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 25px;
}
.middle_armas {
  display: flex;
  transition: .5s ease;
  position: absolute;
  opacity: 0;
  
}

.card_img_armas:hover .middle_armas {
  opacity: 1;
}

.text_armas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1a161685;
  color: white;
  /* font-family: 'Mochiy Pop P One', sans-serif; */
  font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.topo{
  padding-top: 20px;
}
.armas{
  text-align: justify center; 
  text-justify: inter-word;
  
}
.small_img_armas{
  width: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
}
.small_img_armas:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

.row_armas{
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Mecanicas valorant */
.infoh1,.infoh2,.infop{
 text-align: center;
 
}
.infop{
  text-align: justify;
}
.infoh1{
  font-size: 5vh;
}
.infoh2{
  font-size: 3vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.Info_val{
  /* background-color: #582222b7; */
  width: 70%;
  height: auto;
  margin: 10vh auto 10vh auto;
  border-radius: 1%;
}
.Info_vid{
position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%; /* 4:3 Aspect Ratio */
}
.videoI{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 width: 100%;/*  */
  height: 100%;/* 500px */
  border-radius: 1%;
  align-content: center;
  display: block;
  margin: 0 auto;
}

 
/*crossbar*/
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: #2725254b;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: #241e1e79;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg,
                        transparent,
                        rgba(0, 0, 0, 0.4) 50%,
                        transparent,
                        transparent)
}

.link{
  text-decoration: none;
}

/*contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-image: linear-gradient(to right, #000000 0%, #e74c3c 51%, #000000 100%);
  
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

input[type=submit]:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.Info_contact {
  width: 70%;
  height: auto;
  margin: 10vh auto 10vh auto;
  border-radius: 1%;
}

/*about*/

.hrr{
  color: 000;
 }
 .centrar{
   text-align: center;
 }
 .logo1{
    
    display: block;
    margin: auto;
    
 }
 .Info_about{
  /* background-color: #582222b7; */
  padding-top:10vh ;
  width: 70%;
  height: auto;
  margin: 10vh auto 10vh auto;
  border-radius: 1%;
 
 }